<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&effect=shadow-multiple|fire-animation|3d|3d-float');
body {
	margin:  0;
}

.font-effect-3d-float{
	font-family: "Bebas Neue", Serif;
    text-align: center;
    font-size: 60px;
}

.form-title{
	text-align: center;
}

.page-content {
	width: 50%;
	margin:  0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	
}
.form-v10-content  {
	color: #e67411ee;
	background: #fff;
	width: 1100px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 95px 0;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.form-v10-content .form-detail {
	position: relative;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.form-v10-content .form-detail .form-right .form-group .form-row {
	width: 100%;
	background: #fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	
}

.form-v10-content .form-detail .form-group {
	display: flex;
	display: -webkit-flex;
}

.form-v10-content .form-detail .form-row {
	position: relative;
	font-size: 14px;
	margin-bottom: 24px;
	padding-left: 60px;
    padding-right: 50px;
}

.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1 {
	width: 100%;
	padding: 0 12px 0 60px;
}

.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {
	width: 100%;
	padding: 0 50px 0 12px;
}

.form-v10-content .form-detail select,
.form-v10-content .form-detail input {
	width: 100%;
    padding: 11.5px 15px 15px 15px;
    border: 1px solid transparent;
    background: transparent;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
	text-align: center;
}

.form-v10-content .form-detail select {
	background: 0 0;
	position: relative;
	z-index: 9;
	cursor: pointer;
}

.form-v10-content .form-detail .select-btn {
	z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 10px;
}

.form-v10-content .form-detail .form-right input,
.form-group .form-row input, 
.select-box option, .form-row select{
	font-size: 18px;
	border: solid 1px rgb(138, 26, 26);
}

.form-v10-content .form-detail .form-right input,
.form-v10-content .form-detail .form-right select {
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

.form-v10-content .form-detail .form-right input:focus,
.form-v10-content .form-detail .form-right select:focus {
	border-bottom: 1px solid #e67411ee;
}

.form-v10-content .form-detail .form-checkbox {
	margin-top: 37px;
	padding: 0 50px 0 60px;
	position: relative;
}

.form-v10-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}

.form-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}

.form-v10-content .form-detail .form-checkbox .text {
	color: #e67411ee;
	text-decoration: underline;
}
input {
	border: solid 1px #e67411dc;
	border-radius: 5px;
}
.form-v10-content .form-detail .form-right .form-row-last {
    padding-left: 60px;
    margin: 44px 0 10px;
}
.form-v10-content .form-detail .form-right .register {
	background: #e67411ee;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #fff;
	font-size: 10px;
}



=======
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&effect=shadow-multiple|fire-animation|3d|3d-float');
body {
	margin:  0;
}

.font-effect-3d-float{
	font-family: "Bebas Neue", Serif;
    text-align: center;
    font-size: 60px;
}

.form-title{
	text-align: center;
}

.page-content {
	width: 50%;
	margin:  0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	
}
.form-v10-content  {
	color: #e67411ee;
	background: #fff;
	width: 1100px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 95px 0;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.form-v10-content .form-detail {
	position: relative;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.form-v10-content .form-detail .form-right .form-group .form-row {
	width: 100%;
	background: #fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	
}

.form-v10-content .form-detail .form-group {
	display: flex;
	display: -webkit-flex;
}

.form-v10-content .form-detail .form-row {
	position: relative;
	font-size: 14px;
	margin-bottom: 24px;
	padding-left: 60px;
    padding-right: 50px;
}

.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1 {
	width: 100%;
	padding: 0 12px 0 60px;
}

.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {
	width: 100%;
	padding: 0 50px 0 12px;
}

.form-v10-content .form-detail select,
.form-v10-content .form-detail input {
	width: 100%;
    padding: 11.5px 15px 15px 15px;
    border: 1px solid transparent;
    background: transparent;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
	text-align: center;
}

.form-v10-content .form-detail select {
	background: 0 0;
	position: relative;
	z-index: 9;
	cursor: pointer;
}

.form-v10-content .form-detail .select-btn {
	z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 10px;
}

.form-v10-content .form-detail .form-right input,
.form-group .form-row input, 
.select-box option, .form-row select{
	font-size: 18px;
	border: solid 1px rgb(138, 26, 26);
}

.form-v10-content .form-detail .form-right input,
.form-v10-content .form-detail .form-right select {
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}

.form-v10-content .form-detail .form-right input:focus,
.form-v10-content .form-detail .form-right select:focus {
	border-bottom: 1px solid #e67411ee;
}

.form-v10-content .form-detail .form-checkbox {
	margin-top: 37px;
	padding: 0 50px 0 60px;
	position: relative;
}

.form-v10-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}

.form-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}

.form-v10-content .form-detail .form-checkbox .text {
	color: #e67411ee;
	text-decoration: underline;
}
input {
	border: solid 1px #e67411dc;
	border-radius: 5px;
}
.form-v10-content .form-detail .form-right .form-row-last {
    padding-left: 60px;
    margin: 44px 0 10px;
}
.form-v10-content .form-detail .form-right .register {
	background: #e67411ee;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #75b9a6;
	font-size: 10px;
}



>>>>>>> refs/remotes/origin/master
