{% extends 'base.html' %}
{% block title%}
  MaWoX Home
{% endblock %}
{% block content%}
  <link rel="stylesheet" href="{{url_for("static", filename="css/main.css")}}">
  <body>
    <div class= "container">  
      <div  mb-3>
        <form action="/accounts/{{customer_details.get('id')}}" method="POST">
          {{log_form.csrf_token}}   
          <table class="table-customer table-hover">
            <thead>
              <tr>
                <th><label >Mzomunye Road</label></th>
                <th><label >KwaXimba Area</label></th>
                <th><label >Cato Ridge</label></th>
                <th><label >071 061 0580</label></th>
                <th><label ><a>info@mawox.co.za</a></label></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Customer #ID:</th>
                <th>
                  <a class="navbar-brand" value={{customer_details.get('id')}} href="/search_accounts/{{customer_details.get('id')}}">
                    <button class="btn btn-warning" id="nums">
                      {{customer_details.get('id')}}
                    </button>
                  </a>
                </th>
                <th>Creacted By:</th>
                <th>{{customer_details.get('user')}}</th>
              </tr>
              <tr>
                <th>Name:</th>
                <th>{{customer_details.get('fname')}}</th>
                <th>Surname:</th>
                <th>{{customer_details.get('lname')}}</th>
              </tr>
              <tr>
                <th>Cell No:</th>
                <th>{{customer_details.get('cNo')}}</th>
                <th>Alt No:</th>
                <th>{{customer_details.get('tel')}}</th>
              </tr>
              <tr>
                <th>Email:</th>
                <th>{{customer_details.get('email')}}</th>
                <th>Street Name:</th>
                <th>{{customer_details.get('stAddress')}}</th>
              </tr>
              <tr>
                <th>Area:</th>
                <th>{{customer_details.get('area')}}</th>
                <th>City:</th>
                <th>{{customer_details.get('city')}}</th>
              </tr>
              <tr>
                <th colspan="3">
                  <select class="form-select" name="payment_type">
                    <option value="Cash">Cash</option>
                    <option value="Card">Card</option>
                    <option value="EFT">EFT</option>
                  </select>
                </th>
                <th class="create-btn-cell" name="create-btn-cell" colspan="4">
                  <button type="submit" class="create-button" name="btn_create">Create Account</button>
                </th>
              </tr>
            </tbody>
          </table>
        </form>
      </div> 
      <div  class="mb-3">
        <form action="/products/{{customer_details.get('id')}}" method="POST">
          {{log_form.csrf_token}}
          <select class="form-select" name="select_product">
            {%for product in all_products%}
              <option value="{{product}}">{{product}}</option>
            {%endfor%} 
          </select>
          <input type="text" class="item_no" name="item_no" placeholder="Number of items.">
          <button class="add-button" name="btn_add" value="+">+</button>
        </form>
      </div>
      <div  class="mb-3">
        <form action="/remove/{{customer_details.get('id')}}" method="POST">
          {{log_form.csrf_token}}
          <table class="table-products table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Product#ID</th>
                <th scope="col">Products Desc</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Total Price</th>
                <th scope="col">Paid Amount</th>
              </tr>
            </thead>
            <tbody>
              {%for i in range((added_products|length)-1)%}
              <tr name="items_purchased" >
                <th class= "productID" scope="col">
                  <input class="form-check-input" type="checkbox" name="checked" value={{added_products[i][1]}}>
                  <label class="product#ID" name="product#ID">{{(added_products[i][0])}}</label>
                </th>
                <th scope="col">
                  <label for="product_desc" name="product_desc">{{(added_products[i][1])}}</label>
                </th>
                <th scope="col">
                  <label for="qty" name="qty">{{added_products[i][2]}}</label></br>
                </th>
                <th scope="col">
                  <label for="unit_price" name="unit_price">
                    {{"R "~(added_products[i][3])|string}}
                  </label>
                </br>
                </th>
                <th scope="col">
                  <input type="number" id="disc_value" name="disc_value" placeholder="Discount">
                </th>
                <th scope="col">
                  <label for="product_total" name="product_total">
                    {{"R "~(added_products[i][-1])|string}}
                  </label></br>
                </th>
                <th scope="col">
                  <input type="number" id="paid_amount" name="paid_amount" placeholder={{"R "~(added_products[i][-2]|string)}}>
                </th>
              </tr>
              {%endfor%}
              <th class= "del-btn-cell" colspan="4">
                <button class="del-button" name="btn_del"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </th>
              <th class="total-btn-cell" colspan="1">
                <label class="btn_bal" name="btn_bal">{{"Balance: R "~added_products[-1][0]|string}}</label>
              </th>
              <th class="total-btn-cell" colspan="1">
                <label class="btn_total" name="btn_total">{{"Total Amount: R "~(added_products[-1][-1])|string}}</label>
              </th>
              <th class="calc-btn-cell" colspan="1">
                <button class="calc-button" name="btn_calc">{{"Paid Amount: R "~(added_products[-1][1])|string}}</button>
              </th>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script>
  </script>
{% endblock %}
